.heading{
    background: linear-gradient(to right,violet,rgb(1, 1, 72));
    color: rgb(253, 253, 250);
    
}
.but{
    background: linear-gradient(to right,violet,rgb(1, 1, 72));
    color: rgb(253, 253, 250);
}
.font{
    font-size: medium;
}
